# Node Dependencies
node_modules/

# Environment Variables & Sensitive Data
.env
auth.json

# Playwright Default Output
test-results/
playwright-report/
blob-report/
playwright/.cache/

# Custom Screenshot Folders
tests/outputScreenshots/

# Allure Reporting Artifacts
allure-results/
allure-report/

# Ignore raw automation test report outputs
allure-results/
allure-report/
playwright-report/
test-results/

# Ignore zip archive folder and any dynamic zip outputs
archives/
*.zip
tests/outputScreenshots/